
html{
    background-color: rgb(40,40,40);
    color: gainsboro;
    background: url(../~img/background.jpg);
    background-size: cover;
    background-position: 50%;
}

html.translucent{
    background: rgba(255,255,255,0.4);
}

#header{
    margin-bottom: 20px;
}
#body{
    color: rgb(50,50,50);
}
/*
body{
    background: linear-gradient(transparent 30%, rgba(0,0,0,0.5));
}

#header .title > *{
    font-family: Fantasy;
    font-family: "LeagueGothic", "Fantasy";
    font-family: "LeagueGothic";
    font-size: 32px;
}

.option table{
    height: 86%;
    position: absolute;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (min-width: 481px) {
    .option:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .option.clickable:hover:before{
        background: rgba(255,255,255,0.1);
    }
}

.option textarea{
    width: 100%;
}

#creator #showPolls, #creator textarea, #creator input{
    background-color: transparent;
}
#showPolls{
    margin-top: 15px;
    margin-bottom: 35px;
}

.option{
    color: white;
    text-align: center;
    font-family: "LeagueGothic";
    font-size: 22px;
    border: none;
    outline: none;
    position: relative;
    cursor: text;
}

.option div:focus{
    outline: none;
}

.creator_title{
    display: none;
    font-family: LeagueGothic;
    font-size: 32px;
    text-align: center;
    line-height: 50px; 
    text-shadow: 1px 1px black;
}
.translucent .creator_title{
    display: block;
}

.results{
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition:all 200ms;
    transition: all 200ms;
}
*/.votationBox:not(.show) .results, #creator:not(.show) .results, .gameContainer:not(.show) .results{
    font-size: 6px !important;
    opacity: 0;
}/*
#createPoll{
    color:rgb(50,50,50);
}

#stored .percentage_container, #stored .votes_container{
    font-size: 0 !important;
}
.percentage_container{
    color: yellow;
}
.votes_container{
    color: gainsboro;
}
.show .percentage_container, .show .votes_container{
    opacity: 1;
}
.show .percentage_container{
    font-size: 28px;    
}*/

.votes_container{
    font-size: 4px;
}
.show .votes_container{
    font-size: 15px;
}

.options_container .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background-color: rgba(255,255,255,0.2);
}
/*
@media screen and (min-width: 481px) {
    background: -webkit-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.05));
    background: -o-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.05));
    background: -moz-linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.05));
    background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.05));
}

.votation, .stored{
    position: relative;
    padding-bottom: 38%;
    height: 0;
}
.options{
    height: 100%;
    width: 100%;
}
.options_container{
    position: absolute;    
    left: -1%;
    bottom: 0;
    right: -1%;
    allow box-shadow margin
    top: 3px;
}

.votationButtons{
    text-align: right;
    position: relative;
}

#errorLog{
    color: rgba(255,255,255,0.5);
}

.votationButtons button, #users button, #pollsPageContainer button, .votationButtons .button, #users .button, #pollsPageContainer .button{
    background: transparent;
    color: #fff;
    border-style: none;
    outline: none;
}
*/
#body button:hover, #body .button:hover{
    /*background: rgba(255,255,255,0.12);*/
    background: rgba(0,0,0,0.05);
}
/*
#users button{
    font-weight: bold;
}

#cancel{
    float: left;
}

*/
#flash{
    color: rgb(70,70,70);
    text-shadow: 1px 1px white;
    padding: 8px 15px;
    background: rgba(255,255,255,0.7);
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
/*
@media screen and (min-width: 481px) {    
    background-color: rgba(255,255,255,0.8) !important;
    border: 1px solid rgba(0,0,0,0.5) !important;
}

modal box
#modal_box{
    background: rgba(180,180,180,0.5);
}
#modal_box > div {    
    background: rgba(255,255,255,0.87); in android is mnore transparent!
    color: black !important;
    text-shadow: 1px 1px rgba(255,255,255,0.5);
    border: 1px solid black;
}
#modal_box > div p{
    text-shadow: 1px 1px rgba(255,255,255,0.5);
}
#modal_box button {
    background: rgba(0,0,0,0.08);
    color: black;
    border: none;
    font-size: 16px;
}
#modal_box small {
    color: rgb(40,40,40);
}*/

.options_container .title{
    color: rgb(50,50,50);
}

/*CELLS*/
.options_container .option{
    position: relative;
    padding: 6px;
}
#pollsPage{
    margin-top: 18px;   
}
.gameContainer{
    margin-bottom: 18px;
}
.option{
    margin-bottom: 8px;
}

.options_container table td, .options_container table tr{
    display: inline-block;
    white-space: nowrap;
}
.options_container{
    font-size: 18px;
}
.options_container table tr:nth-child(1) *{
    font-size: 28px;
}
.options_container table tr:nth-child(2) *{
    font-size: 18px !important;
}
.options_container table tr:nth-child(3){
    margin-right: 10px;
    float: right;
}
.options_container .text{
    outline: none;
}
.options_container .text:focus{
    min-width: 10px; /*allow show test edition bar!*/    
}

.question{
    outline: none;    
    cursor: text;
    font-family: arial;
    font-stretch: condensed;
    font-size: 24px;
    line-height: 38px;
}
.question:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: rgba(0,0,0,0.3);
    font-weight: normal;
}

/*.checked{
    box-shadow: 0 0 0 2px yellow, 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 1px 2px 3px black !important;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 1px 2px 3px black !important;
}
.checked.clickable:hover{
    box-shadow: 0 0 0 2px yellow, 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 2px 3px 4px black !important;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 2px 3px 4px black !important;
}*/
.votes_container{
    font-weight: bold;
}
.checked .votes_container {    
    color: yellow;
}

#image img, #image canvas{
    box-shadow: 0 0 2px black;
}

.polls_emptyLanguage{
    text-align: center; 
}

.publicCheckbox.publicCheck{
    opacity: 1;
    color: blue !important;
}
