
.report {
    /*position: relative;*/
    width: 43px;
}

.option{
    box-shadow: 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 0 1px 2px black;
}
.option.clickable:hover{
    box-shadow: 1px 1px 0 rgba(0,0,0,0.35), inset 1px 1px 0 rgba(255,255,255,0.35), 1px 2px 3px black;
}

#gameButtons{
    color: rgb(50,50,50);
}
#body button, #body .button{
    background: transparent;
    color: rgb(50,50,50);
    border: none;
}
#gameSwipeButtons{
    position: absolute;
    top: 0;
}

@media screen and (max-width: 480px) {
    .options_container{
        padding: 10px 0;
    }    
}
